:root{
    --primary-color: #4caf50;
    --secondary-color: #fff;
    --background-color: #f4f4f4;
    --card-background-color: #fff;
    --card-shadow: rgba(0, 0, 0, 0.2);
}
body{
    background-color: var(--background-color);
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
h1,h2{
    color: var(--primary-color);
}
.card{
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
    margin: 1.2rem;
    padding: 1.2rem;
    box-shadow: 0 4px 8px 0 var(--card-shadow);
}
/* button */
button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0.8rem 0;
    padding: 0.8rem 1.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
/* buttton end */
input, select, textarea{
    width: 100%;
    margin: 0.8rem 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}
/* header stats here */
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1.5rem 0;
    position: sticky;
    top: 0;
}
nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 0.8rem;
}
nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}
/* header ends here */
/* main starts here */
main {
    width: 80%;
    margin: auto;
    padding: 1.2rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 1.2rem 0;
}
table, th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
}
th{
    background-color: #f2f2f2;
}
#intro{
    background-image: url(Images/cover.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro_title{
    font-size: 3rem;
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
}
.intro_description{
    color: var(--secondary-color);
    font-size: 1.2rem;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact h2{
    text-align: center;
}
/* main ends here */
/* footer starts here */
footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    padding: 0.5rem 0;
    /* position: fixed;
    bottom: 0; */
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
}
.social-media ul {
    display: flex;
    justify-content: left;
    gap: 0.5rem;
}
.social-media h3{
    text-align: center;
}
.social-media a{
    color: var(--secondary-color);
    font-size: 1.4rem;
    text-decoration: none;
    margin: 0 0.5rem;
}
/* footer ends here */

/* responsive start here  */
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
    #intro{
        background-image: none  ;
        height: 30vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro_title{
        font-size: 1.5rem;
        background-color: var();
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-align: center;
    }
    .intro_description{
        color: black;
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px) {
    footer{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 600px) {
}
/* responsive ends here  */