:root{
    --primary-color: #4caf50;
    --secondary-color: #fff;
    --background-color: #f4f4f4;
}
body{
    background-color: var(--background-color);
    color: #333;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
h1,h2{
    color: var(--primary-color);
}
/* button */
button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
button:hover{
    background-color: #45a049;
}
/* buttton end */
input, select, textarea{}
/* header stats here */
header{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
}
nav ul {
}
nav ul li {}
nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}
/* header ends here */
/* main starts here */
main {}
table{}
table, th, td {}
th{
    background-color: #f2f2f2;
}
/* main ends here */
/* footer starts here */
footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.social-media a{
    color: var(--secondary-color);
    font-size: 1.5rem;
    text-decoration: none;
}
/* footer ends here */